nav{
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px 10px;
    display: flex;
    align-items: center;

    img{
        height: 50px;
        margin-right: auto;
    }

    a{
        text-decoration: none;
        font-weight: 500;
        margin: 0 5px;
        color: var(--secondary-color);
        padding: 5px 20px;
        border: solid 1px var(--primary-color);
        border-radius: 10px;
    }
}