#search-component{
    width: 100%;
    padding: 30px 20px 0 20px;
    
    .searchBar{
        display: flex;
        height: 55px;
        align-items: center;
        position: relative;
        border: solid 2px dimgrey;
        border-radius: 10px;
        overflow: hidden;
        max-width: 1000px;
        margin: 0 auto;

        img{
            height: 50px;
            position: absolute;
            left: 5px;
        }

        input{
            border: none;
            width: 100%;
            height: 100%;
            outline: none;
            padding: 10px 60px;
            font-size: 1rem;
            

            :focus{
                border: none;
                outline: none;
            }
        }
    }
}


input:focus {
    outline: #336699 auto 1px;
}

li {
    list-style-type: none;
    height: 50px;
}

.search-result li a {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

.search-result li a:hover {
    background-color: #435A60;
    color: white;
}

.search-result {
    border-radius: 0 0 10px 10px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 0;
}